.DS_Store
*.xpi
*.log
/dist/
/node_modules/

# Copied by build
src/desktop/lib/httpRequestListener.js
src/desktop/lib/properties.js
src/desktop/lib/urlHelper.js

src/mobile/lib/httpRequestListener.js
src/mobile/lib/properties.js
src/mobile/lib/urlHelper.js
