.DS_Store
*.xpi
*.log
/dist/
/node_modules/

# Copied by build
src/desktop/lib/gifRequestBlocker.js
src/desktop/lib/properties.js
src/desktop/lib/urlHelper.js


src/mobile/lib/gifRequestBlocker.js
src/mobile/lib/properties.js
src/mobile/lib/urlHelper.js
