body {
  font: 12px/1.4 "Lucida Grande";
  background-image: url("chrome://global/skin/media/imagedoc-darknoise.png");
}

body, a, button, input[type=text] {
  color: #eee;
}

video, img#fallback, #loading-splash {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

video {
  transition: width 300ms;
  z-index: 100;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.65);
}

button, #screenshot-output-controls a {
  cursor: pointer;
  background: none;
  border: none;
  width: 32px;
}

button[disabled=true] {
  opacity: .2 !important;
}

input[type=text] {
  box-sizing: border-box;
  background: none;
  border: none;
}

@keyframes loadingAnimation {
  0% {
    background-size: 0 25px;
    opacity: 1;
  }
  90% {
    background-size: 197px 25px;
    opacity: 1;
  }
  100% {
    background-size: 197px 25px;
    opacity: 0;
  }
}

.disable-selection {
  -moz-user-select: none;
  user-select: none;
}

#nav {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 200;
}

#nav button {
  opacity: .2;
  transition: opacity 300ms;
}

#nav button:hover {
  opacity: 1;
}

#controls {
  position: fixed;
  top: 40px;
  left: 15px;
  text-align: left;
  opacity: .2;
  transition: opacity 300ms;
  z-index: 300;

}

#controls:hover {
  opacity: 1;
}

#loading-splash {
  background: url("../images/HTML5_Multimedia_256.png") no-repeat;
  width: 256px;
  height: 256px;
  text-align: center;
}

#loading-bar {
  width: 197px;
  height: 30px;
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 100%);
  background-size: 0 25px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  left: 15px;
  animation-name: loadingAnimation;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#info-box {
  opacity: .2;
  width: 100%;
  position: fixed;
  left: 20px;
  bottom: 10px;
  transition: opacity 300ms;
  z-index: 400;
}

#info-box #gfycat-logo {
  width: 22px;
  height: 22px;
  padding-bottom: 3px;
  padding-right: 8px;
  vertical-align: middle;
}

#info-box #bytes-saved {
  font-size: 120%;
}

#info-box:hover {
  opacity: 1;
}

#link-panel {
  position: absolute;
  background-color: #000;
  width: 270px;
  padding: 10px 15px;
  text-align: left;
  z-index: 500;
}

#link-panel label {
  display: inline-block;
  width: 110px;
}

#screenshots-bar {
  position: fixed;
  height: 1px;
  background-color: #000;
  bottom: -1000px;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 600;
  white-space: nowrap;
  transition: bottom 200ms;

}

.screenshot-container {
  position: relative;
  display: inline-block;
  margin: 10px 0 10px 10px;
}

.screenshot-container canvas {
  display: block;
}

.screenshot-container .screenshot-info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #000;
}