@keyframes gccfxLoaderAnimation { 
  0% { 
    background-size: 0 30px;
    opacity: 1;
  } 
  90% { 
    background-size: 100% 30px;
    opacity: 1;
  }
  100% {
    background-size: 100% 30px;
    opacity: 0;
  }
}

.gccfx-video {
  transition: width 300ms;
}

.gccfx-loader-bar, 
.gccfx-message {
  font-size: x-small;
  height: 16px;
}

.gccfx-loader-bar-background { 
  background-repeat: no-repeat;
  padding-left: 23px;
}

.gccfx-gallery-controls-shim {
  position: absolute; 
  top: 0; left: 0; 
  cursor: default;  
}
