@keyframes gccfxLoaderAnimation { 
  0% { 
    background-size: 0 30px;
    opacity: 1;
  } 
  90% { 
    background-size: 100% 30px;
    opacity: 1;
  }
  100% {
    background-size: 100% 30px;
    opacity: 0;
  }
}

.gccfx-video {
  transition: width 300ms;
}

.gccfx-status-bar, 
.gccfx-message {
  font-size: x-small;
}

.gccfx-loader-animation { 
  animation-duration: 3s; animation-name: gccfxLoaderAnimation; animation-iteration-count: infinite;
}

.gccfx-loader-bar-background {
  background-repeat: no-repeat;
  padding-left: 3px;
  background-size: 1px 30px;
  background-image:  linear-gradient(to right, rgba(206,227,248,1) 0%,rgba(206,227,248,1) 100%);
}

.gccfx-gallery-controls-shim {
  position: absolute; 
  top: 0; left: 0; 
  cursor: default;  
}

.RESImage.RESImageError:after {
  content:"";
}
