@keyframes gccfxLoaderAnimation { 
  0% { 
    background-size: 1px 30px; 
    opacity: 1;
  } 
  90% { 
    background-size: 500px 30px; 
    opacity: 1;
  }
  100% {
    background-size: 500px 30px; 
    opacity: 0;
  }
}

.gccfx-loader-animation { 
  animation-duration: 3s; animation-name: gccfxLoaderAnimation; animation-iteration-count: infinite; 
}

.gccfx-loader-bar-background { 
  background-repeat: no-repeat;
  background-size: 1px 30px; 
  background-image:  linear-gradient(to right, rgba(167,222,0,0.3) 0%,rgba(167,222,0,1) 100%);
}
